@media screen and (max-width: 1024px) {
    .header_desktop {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header_desktop {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
    }
    .header_mobile {
        display: none;
    }
    .header_menu {
        display: none;
    }
}