@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Raleway:wght@300;500;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    /*Colors*/
    
    --mainColor: #08090D;
    --backgroundColor: #171F26;
    --secondaryColor: #566573;
    --btnColor: #2F3640;
    --hoverColor: #7B838C;
    --paragraphColor: #ffffff;
    /*font sizes*/

    --small: 1.4rem;
    --middle: 1.6rem;
    --large: 1.8rem;
    --big: 2rem;

    /*size*/

    --space: 2rem;
    --btnSize: 0.5rem 1rem;
    --paddingStyle: 3rem 2rem;
    --menuMobile: 8.4rem;
    --gapSize: 2rem;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Montserrat', sans-serif;
}

/* Mobile Menu */
.mobile_menu {
    background: var(--mainColor);
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.mobile_menu_visible ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: var(--big);
    font-weight: 800;
    align-items: center;
}

li.home img {
    width: 150px;
}

.special_buttons {
    display: flex;
    gap: 2rem;
}

    /* Menu open/closed */

    .mobile_menu_option{
        position: fixed;
        z-index: 1000;
        background: var(--mainColor);
        width: 100%;
        height: 100%;
        margin-top: var(--menuMobile);
        color: white;
        padding: 2rem;
        display: flex;
        justify-content: center;
        font-size: var(--middle);
        text-align: center;
    }

    .menu_option-closed{
        right: 100%;
        transition: 1s;
    }

    .menu_option-open{
        right: 0;
        transition: 1s;
    }

    .option_menu ul {
        list-style: none;
    }

    li.options {
        margin: 4rem 0;
        font-size: var(--large);
    }

    li.options.last_option {
        background: var(--btnColor);
        padding: 1.5rem;
        border-radius: 3px;
    }

/* Slider Home */

.slideshow-container{
    max-width: 1000px;
    position:relative;
    padding-top: var(--menuMobile);
   }
   

   .mySlides{
    display:none;
   }
   
   /* Los estilos para el texto */
   
   .numbertext{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
   }
   

   .fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
   }
   
   @-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }
   
   @keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }


/* Main Content */
.main_content {
    display: flex;
    flex-direction: column;
    /* gap: var(--gapSize); */
    /* margin: 2rem 0; */
}

.about_cabins-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: var(--small);
    background-color: var(--secondaryColor);
    padding: var(--paddingStyle);
}

.most_popular-main {
    display: flex;
    background: var(--secondaryColor);
    border-radius: 5px;
    padding: var(--paddingStyle);
    color: white;
    font-size: var(--small);
    justify-content: center;
    text-align: center;
    margin: 2rem;
}
    .most_popular-container p {
        background-color: var(--btnColor);
        padding: var(--btnSize);
        border-radius: 5px;
        border: 1.5px solid var(--btnColor);
    }

.location-main {
    color: white;
    padding: var(--paddingStyle);
    font-size: var(--small);
}

/* Footer */
.footer_container {
    background: var(--mainColor);
    color: white;
    padding: var(--paddingStyle);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small);
}

.contact_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gapSize);
}

.whatsapp-btn {
    background: #128c7e;
    color: white;
    font-size: x-large;
    padding: var(--btnSize);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
    .whatsapp-btn:hover{
        background: #0d6259;
    }

.social_networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.social_networks ul li {
    display: inline-block;
    margin: 1.5rem 1.5rem 0;
}

.social_networks_icons a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondaryColor);
}

.facebook a:active{
    background-color: blue;
}

.instagram a:active{
    background-color: lightcoral;
}

.twitter a:active{
    background-color: lightblue;
}

/* Service */
.overlay-service {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.mobile_menu,.slider,.main_content,.footer_container{
    display: none;
}

.service {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.service h1{
    margin-top: 1.5rem;
}

.service h3{
    margin-bottom: 1.5rem;
}

