@media screen and (min-width: 760px) {
    :root {
    /*measures*/

    --small: 1.6rem;
    --middle: 1.8rem;
    --large: 2rem;
    /*size*/

    --burble: 2.4rem;
    --burbleSpace: 1.6rem 1rem 0rem 1rem;
    }

    .main_content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
    }
    .about_me {
        width: 50vw;
    }
    .services {
        max-width: 100vw;
        order: 3;
    }
    .more_services {
        max-width: 50vw;
    }
}