@import './styles.css';
@import './vars.scss';

p {
    font-size: $small;
    font-weight: 300;

    @include media(desktop-s) {
        font-size: $medium;
    }
}

li {
    list-style: none;
    font-size: $medium;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Raleway', sans-serif;;
    font-weight: 400;
    font-size: $medium;
}

i{
    font-size: $small;

    @include media(desktop-m) {
        font-size: $medium;
    }
}